[flake8]
# max_line_length = 79
# max-complexity = 10
extend-ignore = E203,W503,D105
extend-select = W504
per-file-ignores =
    # */*: D105,D107
    tests/*: D
    */tests/*: D
    s1isp/descriptors.py: F821
statistics = True
count = True
