[flake8]
# max_line_length = 79
# max-complexity = 10
doctests = true
# extend-ignore = E203,W503,D105,D107  # D* are in pyproject.toml
extend-ignore = E203,W503
extend-select = W504
per-file-ignores =
    tests/*: D
    */tests/*: D
    s1isp/descriptors.py: F821
    s1isp/l0index.py: F821
statistics = True
count = True
